TIEMPO_DE_REINTENTO_CONEXION=10
TIEMPO_DE_REINTENTO_OPERACION=2
TIEMPO_RETARDO_OPERACION=1
PUNTO_MONTAJE_TALLGRASS=/home/utnso/PruebaBase/tall-grass/
IP_BROKER=127.0.0.1
PUERTO_BROKER=3334
IP_GAMECARD=127.0.0.1
PUERTO_GAMECARD=5001
ID_PROCESO=2
MOSTRAR_LOGS=1
LOG_FILE=gamecard.log
EVENT_FILE=gamecard_event.log
DEFAULT_BLOCK_SIZE=64
DEFAULT_BLOCKS=1024
DEFAULT_MAGIC_NUMBER=TALL_GRASS