POSICIONES_ENTRENADORES=[1|3,2|3,2|2]
POKEMON_ENTRENADORES=[Pikachu,NADA,NADA]
OBJETIVOS_ENTRENADORES=[Pikachu|Squirtle,Pikachu|Gengar,Squirtle|Onix]
TIEMPO_RECONEXION=30
RETARDO_CICLO_CPU=5
ALGORITMO_PLANIFICACION=FIFO
QUANTUM=2
ESTIMACION_INICIAL=5
ALFA=0.2
IP_BROKER=127.0.0.1
PUERTO_BROKER=3334
LOG_FILE=teamPruebaFinalFIFO.log
EVENT_FILE=teamPruebaFinalFIFO_event.log
MOSTRAR_LOGS=1
IP_TEAM=127.0.0.1
PUERTO_TEAM=5007
ID_PROCESO=7