POSICIONES_ENTRENADORES=[1|2,3|7]
POKEMON_ENTRENADORES=[Pikachu, Squirtle]
OBJETIVOS_ENTRENADORES=[Pikachu|Pikachu|Squirtle|Pidgey,Pikachu|Charmander|Charmander]
TIEMPO_RECONEXION=30
RETARDO_CICLO_CPU=1
ALGORITMO_PLANIFICACION=SJF_CD
QUANTUM=2
ESTIMACION_INICIAL=5
ALFA=0.2
IP_BROKER=127.0.0.1
PUERTO_BROKER=3334
LOG_FILE=log/log_team1.log
IP_TEAM=127.0.0.1
PUERTO_TEAM=5002